<div id="<%= dom_id work %>">
  <p>
    <strong>Title:</strong>
    <%= work.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= work.body %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= work.image_data %>
  </p>

</div>
