<div id="<%= dom_id work %>">
  <div class = "work_container">
    <p class = "title">
      <h1><strong><%=work.title%></strong></h1>
    </p>
    
    <p>
      <%= image_tag work.image_url if work.image %>
    </p>
  </div>
</div>
