<h1 class = "work_container_options">Editing work</h1>

<%= render "form", work: @work %>

<br>

<div class = "work_container_options">
  <%= link_to "Show this work", @work %> |
  <%= link_to "Back to works", works_path %>
</div>
