<p style="color: green"><%= notice %></p>

<p class = "work_container_title" >MY PROJECTS</h1>

<div id="works">
  <% @works.each do |work| %>
    <%= render work %>
    <p class = "work_container_options">
      <%= link_to "Show this work", work %>
    </p>
  <% end %>
</div>
<p class = "work_container_options">
<%= link_to "New work", new_work_path %>
</p>
