<div id="<%= dom_id skill %>">
  
  <p class = "skill_container_option">
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p class = "skill_container_option">
    <strong>Experience:</strong>
    <%= skill.experience %>
  </p>

</div>
