<p style="color: green"><%= notice %></p>

<h1 class = "skill_container_title">Skills</h1>

<div id="skills">
  <% @skills.each do |skill| %>
    <%= render skill %>
    <p class = "skill_container_option">
      <%= link_to "Show this skill", skill %>
    </p>
  <% end %>
</div>
<p class = "skill_container_option">
<%= link_to "New skill", new_skill_path %>
</p>
