
  <div class = "about_container">
    <div class = "image">
      <%= image_tag("shishir.jpg", alt: "Shishir's image", class:'photo') %>
    </div>
    <div class = "text">
      <h1>Shishir Rai</h1>
      <h2>An avid, technically skilled developer with more than three years of professional experience in software engineering; strong experience with Object-oriented programming and software development methodologies.</h2>
      <h1>Contact</h1>
      <h2>Email: srai@kent.edu</h2>
      <h2>Phone: 917-402-7139</h2>
      <h2>
    <%= link_to "Get Skills", info_skills_path , data: { turbo_frame: "modal"}, class: "text"%>
      </h2>       
      <div>
                

      </div>
    </div>
      
                
                

  </div>

   
